/*General Styles*/

:root {
    --green: #a7b9a5;
    --jasmine: #f2efe5;
    --darkgreen: #003826;
  }

body {
    background-color: #a7b9a5;
}

h1 {
    text-align: center;
}

/*NavBar*/

.navbar {
    background-color: var(--darkgreen) !important;
}
.navbar-brand {
    color: var(--green);
}
.nav-link {
    color: var(--green) !important;
}

/*Hero Section*/

#jumbotron {
    background-image: url(../images/green\ background.jpg);
    background-size: cover;
}
.jumboimg {
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.jumbotron{
    display: flex !important;
    align-items: center !important;
}
.display-4 {
    color: var(--jasmine) !important;
    text-align: right;
    text-shadow: 2px 2px rgba(0,0,0,0.6);
    font-weight: 400;
}
.lead {
    color: var(--jasmine);
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}

/*Work Section*/

#workSection {
    margin-top: 20px;
}
.bordergap {
    margin: 0 auto;
    padding: 10px;
    border-left: 4px solid var(--darkgreen);
}

.card {
    margin-top: 5px;
    padding-top: 10px;
}

/* Page Divider */

#divider {
    margin-top: 20px;
    border-bottom: 4px solid var(--darkgreen);
}

/*Skills/About Me Section*/

#skillHead, .skillCard, #aboutMeHead, #aboutMeCopy {
    margin-top: 20px;
}
#skillCopy {
    display: flex;
    justify-content: center;
}
.skillCard {
    background-color: var(--green);
    border: none !important;
}
.skillCard2 {
    margin-top: 27px;
}
#aboutMeHead {
    border-left: solid 3px var(--darkgreen);
}

/*Contact Me Footer*/

/* Media Queries */

@media screen and (max-width:768px) {
    .bordergap {
        border: hidden;
    }
    .card {
        margin-left: 15px;
    }
    #aboutMeHead {
        border: hidden
    }
}